# Copy to `.env` and fill in values.

# Common settings
VITE_XPERTAI_API_URL=http://localhost:3000/api/ai

# For ChatKit backend
XPERTAI_API_KEY=
PORT=8000

# For ChatKit frontend

# Optional (dev server proxies /api to this target PORT).
VITE_CHATKIT_BACKEND=http://localhost:8000

# Optional (if omitted, backend must have CHATKIT_XPERT_ID set).
VITE_CHATKIT_XPERT_ID=

# Iframe URL for the ChatKit ui.
VITE_CHATKIT_TARGET=